<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chapter6.mapper.BoardMapper">

<!--    게시물 저장-->
    <insert id="insertBoardVO" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="id">
        insert into board (
            code,
            title,
            content,
            reg_id,
            reg_date
        )values(
            #{code},
            #{title},
            #{content},
            #{regId},
            NOW()
        )
    </insert>
    
<!--    게시물 목록-->
    <select id="selectBoardVO" parameterType="SearchHelper" resultType="BoardVO">
        select
            id,
            title,
            count,
            reg_id,
            reg_date
        from board
        <where>
            code = #{srchCode}
            <if test="srchType == 'title'">
                AND title LIKE CONCAT('%', #{srchKeyword}, '%')
            </if>
            <if test="srchType == 'content'">
                AND content LIKE CONCAT('%', #{srchKeyword}, '%')
            </if>
        </where>
        order by id DESC
        limit #{startIndex}, #{pageSize}
    </select>

<!--    게시물 총 수 세기-->
    <select id="countBoardVO" parameterType="SearchHelper" resultType="int">
        select COUNT(*)
        from board
        <where>
            code = #{srchCode}
            <if test="srchType == 'title'">
                AND title LIKE CONCAT('%', #{srchKeyword}, '%')
            </if>
            <if test="srchType == 'content'">
                AND content LIKE CONCAT('%', #{srchKeyword}, '%')
            </if>
        </where>
    </select>
    
<!--    게시물 id로 찾기-->
    <select id="selectBoardVOById" parameterType="int" resultType="BoardVO">
        select *
        from board
        where id = #{id}
    </select>

<!--    게시물 수정-->
    <update id="updateBoardVO" parameterType="BoardVO">
        update board set
            title = #{title},
            content = #{content},
            mod_date = NOW()
        where id = #{id}
    </update>

    <!--    게시물 삭제-->
    <delete id="deleteById" parameterType="int">
        delete from board
        where id = #{id}
    </delete>

<!--    조회수 증가-->
    <update id="updateCount" parameterType="int">
        update board set
            count = count + 1
        where id = #{id}
    </update>
</mapper>

